@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LEEEETS GOOOOOOO TEAM DUCKFRAUD</h1>

    <img src="https://scontent.fosl4-1.fna.fbcdn.net/v/t1.15752-9/129648595_135810104741782_1593335745063208634_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=6d4AYohTlyIAX9XXIb4&_nc_ht=scontent.fosl4-1.fna&oh=2f47b0131c1306bd5774aa86ab2442db&oe=5FEEDED8" />
</div>
